body {
  background: #277c6b;
}
li {
  list-style: none;
}
.bar{
display: flex;
justify-content: center;
}
.menu {
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  width: 99%;
  top: 5px;
}

.menu li:hover {
    text-shadow: 3px 3px 1px blue;
    color: #f2f2f2;
}
.logo {
  width: 50px;
  height: 50px;
  background: white;
  margin: 0.5% 0 0.5% 0;
}
.navBar {
  margin: auto 50% auto 0;
}
.navBar ul {
  display: flex;
  flex-direction: row;
  color: white;
}
.navBar ul li{
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.containt {
  width: 10%;
  margin-top: 80px;
}


::-webkit-scrollbar {
display: none;
}
